@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  background: none;

  --black: #010009;
  --white: #ffffff;

  --dark-red: #b80000;
  --light-red: #fd7575;

  --light-gray: rgb(175, 175, 175);

  --primary: #07041b;
  --secondary: #0079fd;
  --alternative: #312ec9;

  --border-radius: 20px;
  --transition: all 0.3s ease-in-out;
}

/* SCROLL */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353535;
}
