.container {
  padding: 20px 0;
  .main {
    background: var(--secondary);

    padding: 15px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: var(--border-radius);
    svg {
      color: var(--white);

      font-size: 50px;
    }

    h4 {
      color: var(--white);
      font-weight: 500;
    }
  }
}
